
<!--angular materian MatButtonModule-->
<button mat-raised-button> its mat Button</button>
<button mat-stroked-button>click me</button>
<button mat-flat-button>another click</button>
<button mat-button>clicked</button>

<div>
  <button mat-icon-button>Icon</button>
  <button mat-fab>Icon</button>
  <button mat-mini-fab>Icon</button>
</div>

<div>
  <button color="primary" mat-icon-button>Icon</button>
  <button color="accent" mat-fab>Icon</button>
  <button color="warn" mat-mini-fab>Icon</button>
</div>

<div>
  <button color="primary" mat-raised-button>Primary</button>
  <button color="accent" mat-raised-button>Icon</button>
  <button color="warn" disableRipple mat-raised-button>Icon</button>
</div>

<div>
  <mat-button-toggle #toggleBtn>Toggle</mat-button-toggle>
  {{toggleBtn.checked}}
</div>

<div>
  <mat-button-toggle-group  #toggleGroup="matButtonToggleGroup" multiple>
    <mat-button-toggle value="angular">Angular</mat-button-toggle>
    <mat-button-toggle value="react"> React</mat-button-toggle>
    <mat-button-toggle value="vue">Vue</mat-button-toggle>
  </mat-button-toggle-group>
  {{toggleGroup.value}}
</div>

<!--Mat Icon from MatOconModule-->

<div>
    <mat-icon color="primary">grade</mat-icon>

    <i class="material-icons" >
      favorite_border
    </i>
</div>

<!--from MatBadgeModule-->
<div>
  <span  matBadgeOverlap="false" matBadge="5" matBadgePosition="below before"
  matBadgeSize="large"
  matBadgeColor="primary">Notifications</span>

</div>
<br>
<div>
  <span [matBadge]="notifications" matBadgePosition="below after"
        [matBadgeHidden]="notifications===0"
  matBadgeSize="medium"
  matBadgeColor="warn"
  matBadgeOverlap="false">Notifications</span>

</div>
<br>
<div>
  <span matBadge="25"

        matBadgePosition="above before"
        matBadgeSize="small"
        matBadgeColor="accent"
        matBadgeOverlap="false"
  >Notifications</span>
</div>

<!--MatProgeressSpinner-->
<mat-progress-spinner value="95"></mat-progress-spinner>

<mat-spinner *ngIf="showSpiner"></mat-spinner>
<button (click)="loadData()" mat-stroked-button>Load Data</button>

<!--MatToolBarModule-->
<mat-toolbar color="warn" class="navbar">
  <div>In mat toolbar</div>
  <div>
    <span>Home</span>
    <span>About</span>
    <span>Services</span>
  </div>
</mat-toolbar>

<!--MatSidenaveModule-->

<!--<mat-sidenav-container>-->
<!--  <mat-sidenav opened>Sidenav</mat-sidenav>-->
<!--  <mat-sidenav-content> Main Content</mat-sidenav-content>-->
<!--</mat-sidenav-container>-->





<router-outlet></router-outlet>
